@use "./colors.scss";

@mixin border-default {
  border: 2px solid colors.$purple-pink;
}

@mixin scroll-y {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.$purple-pink;
    outline: 1px solid purple;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px purple;
  }
}

@mixin border-card {
  border: 1px colors.$background-light solid;
}
